* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

nav {
    background-color: gainsboro;
    height: 50px;
    text-align: left;
    position: relative;
}

.title1 {
    font-family: 'Helvetica';
    font-size: 20px;
    margin-left: 15px;
    padding-top: 10px;
    text-align: left;
}

.tablinks {
    position: relative;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 20px;
    top: -20;
    left: -30;
    word-spacing: 20px;
}

.searchjobs {
    margin-top: 30px;
    margin-left: 90px;
}

.search1 {
    position: relative;
    top: -10px;
    display: block;
    width: 100%;
}

.inner-one-column inner-one {
    display: inline-block;
    width: 50%;
    height: 100%;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    font-family: 'Helvetica';
    font-size: 18px;
    padding-bottom: 5px;
}

.inner-two-columns {
    width: 100%;
    height: 100px;
    display: inline-block;
    font-size: 0;
}

.inner-two {
    display: inline-block;
    float: left;
    clear: left;
    width: 35%;
    height: 30px;
    border: 1px solid lightgrey;
    font-size: 15px;
    overflow: hidden;
    padding: 5px;
}

.inner-three {
    float: left;
    width: 50px;
    height: 30px;
    display: inline-block;
    font-size: 0;
    border: 1px solid lightgrey;
    padding-left: 10px;
    left: -30px;
}

.btn {
    float: left;
    background: url("images/magnifying-glass.png") no-repeat;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    left: -10px;
}

.fname1 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 0 5px 0 8px;
    width: 400px;
}

.fname1,
.fnamee2 {
    position: relative;
    text-align: left;
    font-family: 'Helvetica';
    font-size: 20px;
}

.fname2 {
    width: 90px;
    height: 50px;
    border: 50px;
    border-color: 10px solid black;
}

.pagination {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 90px;
    border: 90px;
    margin-top: 30px;
    margin-left: 90px;
}

table {
    border: 1px solid gainsboro;
    border-spacing: 0px;
    border-collapse: separate;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
}

th,
td {
    border: 1px solid gainsboro;
    padding: 5px 10px;
    border-collapse: separate;
}

.displayresults {
    position: relative;
    margin-left: 90px;
    padding-top: 10px;
}

.listings {
    padding-bottom: 10px;
    font-family: 'Lucida Console';
    font-size: 18px;
    text-decoration-color: blue;
    color: darkgray;
}

a:link {
    text-decoration: none;
    text-align: center;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
